name: Build, Scan and Publish Image
on:
    push:
        branches:
          - main
    
permissions:
    contents: read
    security-events: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v5
        with:
          node-version: "24.x"
      - name: NPM install and NPM audit
        run: |
          npm ci
          npm audit --audit-level=high
      - name: Run lint
        run: npm run lint:fix
      - name: Check code format
        run: npm run format
      # - name: Build Docker Image
      #   run: |
      #     docker build --pull -t ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:${{github.sha}} .
      # - name: Scan Docker image with trivy
      #   uses: aquasecurity/trivy-action@0.22.0
      #   with:
      #       image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:${{github.sha}}
      #       severity: CRITICAL,HIGH
      #       exit-code: 1
      #       ignore-unfixed: true
      #       scanners: vuln
      #       vuln-type: os,library
      #       # trivyignores: .trivyignore
      # # - name: login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #       username: ${{ secrets.DOCKERHUB_USERNAME }}
      #       password: ${{ secrets.DOCKERHUB_PASSWORD }}
      # - name: Push Docker Image
      #   run: |
      #     docker push ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:${{github.sha}}
      # - name: Deploy to EC2
      #   uses: appleboy/ssh-action@v0.1.7
      #   env:
      #     PORT: 22
      #   with:
      #       host: ${{ secrets.EC2_HOST }}
      #       username: ${{ secrets.EC2_USER }}
      #       key: ${{ secrets.EC2_SSH_KEY }}
      #       port: 22
      #       debug: true
      #       script: |
      #         docker pull ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:${{github.sha}}

      #         docker stop node-app || true
      #         docker rm node-app || true

      #         docker run -d --name node-app --restart=always -p 5000:5000 ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:${{github.sha}}