name: Build, Scan and Publish Image
on:
    push:
        branches:
          - main
    
permissions:
    contents: read
    security-events: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install node
        uses: actions/setup-node@v5
        with:
          node-version: "24.x"
      - name: NPM install and NPM audit
        run: |
          npm ci
          npm audit --audit-level=high
      - name: login to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build Docker Image
        run: |
          docker build --pull -t ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:latest .
      - name: Scan Docker image with trivy
        uses: aquasecurity/trivy-action@0.22.0
        with:
            image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:latest
            severity: CRITICAL
            exit-code: 1
            ignore-unfixed: true
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/node-secure-app-1:latest